
<section class="module-header parallax bg-dark bg-dark-30" style="background-image: url('http://placehold.it/1920x1200');" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 m-b-20">Shop Grid</h1>
                <p>Experienced and Friendly.</p>
            </div>
        </div>
    </div>
</section>