<section class="module-sm module-divider-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <select class="form-control m-t-10 m-b-10">
                    <option>Default Sorting</option>
                    <option>Popular</option>
                    <option>Latest</option>
                    <option>Average Price</option>
                    <option>High Price</option>
                    <option>Low Price</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-control m-t-10 m-b-10">
                    <option>Woman</option>
                    <option>Man</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-control m-t-10 m-b-10">
                    <option>All</option>
                    <option>Coats</option>
                    <option>Jackets</option>
                    <option>Dresses</option>
                    <option>Jumpsuits</option>
                    <option>Tops</option>
                </select>
            </div>
        </div>
    </div>
</section>