<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-7 ml-auto">
                    <div class="slider-content-19 slider-content-19-white slider-animated-1">
                        <h3 class="animated">Enjoy This Offer Today</h3>
                        <h1 class="animated">New Collection <br>Sale 40%</h1>
                        <div class="slider-btn-round-white slider-btn-round btn-hover">
                            <a class="animated" href="shop.html">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="single-slider-2 slider-height-2 slider1 res-black-overly-xs d-flex align-items-center bg-img" >
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-7 ml-auto">
                        <div class="slider-content-19 slider-content-19-white slider-animated-1">
                            <h3 class="animated">Enjoy This Offer Today</h3>
                            <h1 class="animated">New Collection <br>Sale 40%</h1>
                            <div class="slider-btn-round-white slider-btn-round btn-hover">
                                <a class="animated" href="shop.html">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>