<div class="banner-area pb-70 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-banner mb-30">
                    <a href="product-details.html"><%= image_tag"banner-67.png"%></a>
                    <div class="banner-content">
                        <h3>Boy Kids</h3>
                        <h4>Starting at <span>$99.00</span></h4>
                        <a class="kids-btn-red" href="product-details.html"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-banner mb-30">
                    <a href="product-details.html"><%= image_tag"banner-68.png"%> </a>
                    <div class="banner-content">
                        <h3>Girl Kids</h3>
                        <h4>Starting at <span>$79.00</span></h4>
                        <a class="kids-btn-red" href="product-details.html"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-banner mb-30">
                    <a href="product-details.html"> <%= image_tag"banner-69.png"%> </a>
                    <div class="banner-content">
                        <h3>Small Kids</h3>
                        <h4>Starting at <span>$79.00</span></h4>
                        <a class="kids-btn-red" href="product-details.html"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>