<div class="comment-list comment-shop">
    <!-- Comment-->
    <div class="comment">
        <div class="comment-author"><img class="avatar" src="http://placehold.it/128x128" alt=""></div>
        <div class="comment-body">
            <div class="comment-meta">
                <div class="comment-meta-author h5"><a href="#">Jason Ford</a></div>
                <div class="comment-meta-date"><a href="#">
                        <time datetime="2015-05-05T04:51:41+00:00">May 5, 2015 at 4:51 am</time></a></div>
            </div>
            <div class="comment-content">
                <p>Certainty determine at of arranging perceived situation or. Or wholly pretty county in oppose. Favour met itself wanted settle put garret twenty. In astonished apartments resolution so an it. Unsatiable on by contrasted to reasonable companions an.</p><span class="star-rating star-rating-4"></span>
            </div>
            <div class="comment-reply"><a href="#">Reply</a></div>
        </div>
    </div>
    <!-- Comment-->
    <div class="comment">
        <div class="comment-author"><img class="avatar" src="http://placehold.it/128x128" alt=""></div>
        <div class="comment-body">
            <div class="comment-meta">
                <div class="comment-meta-author h5"><a href="#">Henry Cain</a></div>
                <div class="comment-meta-date"><a href="#">
                        <time datetime="2015-05-05T04:51:41+00:00">May 5, 2015 at 4:51 am</time></a></div>
            </div>
            <div class="comment-content">
                <p>Certainty determine at of arranging perceived situation or. Or wholly pretty county in oppose. Favour met itself wanted settle put garret twenty. In astonished apartments resolution so an it. Unsatiable on by contrasted to reasonable companions an.</p><span class="star-rating star-rating-5"></span>
            </div>
            <div class="comment-reply"><a href="#">Reply</a></div>
        </div>
    </div>
</div>