<div class="deal-area pt-90 pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="common-deal-img">
                    <a href="#"><%= image_tag "https://place-hold.it/570x525", class: "wow fadeInLeft" %></a>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="funfact-content funfact-res text-center">
                    <h2>Deal of the day</h2>
                    <div class="timer">
                        <div data-countdown="2021/03/01"></div>
                    </div>
                    <div class="funfact-btn btn-only-round funfact-btn-red-3 btn-hover">
                        <a href="#">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>