<div class="product-area pb-120 bg-img pt-120" style="background-image:url(assets/img/bg/section-bg-2.png);">
    <div class="container">
        <div class="product-top-bar section-border mb-60">
            <div class="section-title-4">
                <h3 class="bg-gray-5">Featured Products</h3>
            </div>
            <div class="product-tab-list-3 nav bg-gray-5">
                <a class="active" data-toggle="tab" href="#hm14-tab2">
                    <h4>All </h4>
                </a>
                <a data-toggle="tab" href="#hm14-tab1">
                    <h4>Winter </h4>
                </a>
                <a data-toggle="tab" href="#hm14-tab3">
                    <h4> Various  </h4>
                </a>
                <a data-toggle="tab" href="#hm14-tab4">
                    <h4>Greens </h4>
                </a>
            </div>
        </div>
        <div class="tab-content jump">
            <div class="tab-pane" id="hm14-tab1">
                <div class="product-slider-active owl-carousel">
                    <div class="product-wrap-2 mb-25">
                        <% 3.times do%>
                            <div class="product-img">
                                <a href="product-details.html">
                                <%= image_tag "hm27-pro-1.jpg", class: "default-img" %>
                                <%= image_tag "https://place-hold.it/270x345", class: "hover-img" %>
                                </a>
                                <span class="red">-10%</span>
                                <div class="product-action-2 product-action-2-red">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                        <% end%>
                    </div>
                </div>
                <div class="pro-view-more view-more-radious text-center">
                    <a href="#"><i class="fa fa-refresh"></i> View More</a>
                </div>
            </div>
        </div>
    </div>
</div>