<section class="module module-divider-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="module-title text-center">
                    <h2>Related Products</h2>
                    <!--p.font-serif We’re branding & digital studio from New York.-->
                </div>
            </div>
        </div>
        <div class="row">
            <% 3.times do%>
                <div class="col-md-4">
                    <div class="shop-grid-item">
                        <div class="shop-item-thumb"><a href="#"><img src="http://placehold.it/626x800"" alt=""></a>
                            <div class="shop-item-hidden"><a class="btn btn-block btn-dark" href="#">Add to cart</a></div>
                        </div>
                        <div class="shop-item-captions">
                            <h6 class="shop-item-title">Mandarin collar shirt</h6>
                            <h6 class="shop-item-price">$20.00</h6>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</section>