<div class="testimonial-area bg-img pt-100 pb-95" style="background-image:url(assets/img/bg/section-bg-3.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 ml-auto mr-auto">
                <div class="testimonial-active owl-carousel nav-style-1 nav-testi-style">
                    <div class="single-testimonial text-center">
                        <img src="assets/img/testimonial/testi-1.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="client-info">
                            <i class="fa fa-map-signs"></i>
                            <h5>Grace Alvarado</h5>
                            <span>Customer</span>
                        </div>
                    </div>
                    <div class="single-testimonial text-center">
                        <img src="assets/img/testimonial/testi-1.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="client-info">
                            <i class="fa fa-map-signs"></i>
                            <h5>Grace Alvarado</h5>
                            <span>Customer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>