<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="tab-pane" id="hm14-tab1">
            <div class="product-wrap-2 mb-25">
                <div class="carousel-item active">
                    <div class="product-img">
                        <div class="container">
                            <%= image_tag "https://place-hold.it/270x345", class: "default-img" %>
                            <div class="overlay">
                                <div class="image_hover">    
                                <%= image_tag "https://place-hold.it/270x345", class: "default-img" %>
                                </div>
                            </div>
                        <span class="red">-10%</span>
                        <div class="product-action-2 product-action-2-red">
                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                        </div>
                    </div>    
                </div>  
            </div>            
        </div>    
        


        <div class="pro-view-more view-more-radious text-center">
        <a href="#"><i class="fa fa-refresh"></i> View More</a>
        </div> 
    </div>   
</div>     






<div class="product-img">
    <div class="container">
        <%= image_tag "https://place-hold.it/270x345", class: "default-img" %>
    <div class="overlay">
        <div class="image_hover">    
        <%= image_tag "https://place-hold.it/270x345", class: "default-img" %>
        </div>
       
    </div>
    
    </div>
     <span class="red">-10%</span>
        <div class="product-action-2 product-action-2-red">
            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
        </div>
</div>